.field {
  position: relative;
  margin: 10px;
  & > label {
    position: absolute;
    top: -15px;
    color: $disabledText;
    font-size: 12px;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid $border;
  }
}

input {
  background: transparent;
  border: none;
  color: $text;
  height: 100%;
  outline: none;
  width: 200px;
  font-size: 18px;
  &:disabled { color: $disabledText; }
}

.select {
  color: $text;
  font-size: 18px;
  position: relative;
  & > p {
    width: 200px;
    margin: 0px;
    &:hover { cursor: pointer; }
  }
  & > ul {
    position: absolute;
    z-index: 1000;
    top: 25px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background: $background;
    transition: none;
    & > li {
      padding: 5px 10px;
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;
      &:first-child { border-top: 1px solid $border; }
      &:hover { cursor: pointer; background: lighten($background, 10%); }
      &.active { background: lighten($background, 15%); }
    }
  }
  &.open > ul { height: auto; }
  &.disabled > p {
    color: $disabledText;
    &:hover { cursor: auto; }
  }
}