.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: lighten($background, 2.5%);
  border-bottom: 1px solid $border;
  & > button {
    background: transparent;
    border: 1px solid $border;
    color: $text;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin: 0px 5px;
    &:hover {
      background: lighten($background, 5%);
      cursor: pointer;
    }
    &:focus { background: lighten($background, 10%); }
    &:disabled {
      background: transparent;
      color: $disabledText;
      border-color: $disabledText;
      &:hover { cursor: auto; }
    }
  }
}