.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background: lighten($background, 2.5%);
  border-bottom: 1px solid $border;
  & > button {
    background: transparent;
    border: 1px solid $border;
    color: $text;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin: 0px 5px;
    &:hover {
      background: lighten($background, 5%);
      cursor: pointer;
    }
    &:focus { background: lighten($background, 10%); }
    &:disabled {
      background: transparent;
      color: $disabled;
      border-color: $disabled;
      &:hover { cursor: auto; }
    }
  }
  @media only screen and (max-width: 1023px) {
    padding: 5px;
    & > button {
      font-size: 16px;
      padding: 5px;
    }
  }
  @media only screen and (max-width: 767px) {
    & > button {
      font-size: 13px;
      padding: 2.5px;
    }
  }
  @media only screen and (max-width: 424px) {
    padding: 5px 0px;
    & > button {
      font-size: 11px;
      margin: 0px 2.5px;
    }
  }
}