.legend {
  display: flex;
  flex-direction: row;
  margin: 20px;
  & > span {
    display: block;
    color: $text;
    font-size: 24px;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border: 1px solid $border;
    }
    &.visited:before { background: $visited; }
    &.wall:before { background: $wall; }
    &.start:before { background: $start; }
    &.end:before { background: $end; }
    &.path:before { background: $path; }
  }
  @media only screen and (max-width: 1023px) {
    margin: 10px;
    & > span {
      font-size: 18px;
      &:before {
        width: 25px;
        height: 25px;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    margin: 5px 0px;
    & > span {
      font-size: 16px;
      padding: 5px 5px;
      &:before {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }
  @media only screen and (max-width: 424px) {
    & > span {
      font-size: 12px;
      padding: 5px 2.5px;
      &:before {
        width: 12px;
        height: 12px;
      }
    }
  }
}