/** Core colors. */
$background: #121212;
$text: #ffffffcc;
$border: #ffffff;
$disabled: #ffffff5e;

/** Nodes Colors. */
$visited: #55146e;
$wall: #a7a6a6;
$start: #108b6d;
$checkpoint: #18479e;
$end: #911e1e;
$path: #c9bc09;